# ASSIGNMENT 12

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3
from pandasql import sqldf

In [2]:
# Given Url
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
# Reading the data from the given url
df = pd.read_csv(url)
# Naming the columns of the dataframe
df.columns=['Age','WorkClass','FnlWgt','Education','EducationNum','Marital-Status','Occupation','Relationship','Race','Sex','Capital-gain','Capital-loss','Hours-Per-Week','Native-Country','Income']
# Printing the rows of the dataframe
df.head(2)

,Age,WorkClass,FnlWgt,Education,EducationNum,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-Per-Week,Native-Country,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [3]:
# Defining a function to eliminate the blank spaces of the columns 
def trimAllColumns(df):
    trimStrings = lambda x: x.strip() if type(x) is str else x
    return df.applymap(trimStrings)
#Trimming out the blank spaces 
df = trimAllColumns(df)
df.head(2)

,Age,WorkClass,FnlWgt,Education,EducationNum,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-Per-Week,Native-Country,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [4]:
#Create a sql db from adult dataset and name it sqladb

# Connecting to a database
con = sqlite3.connect('sqladb.db')
cur = con.cursor()
# Copying the contents of the dataframe to the sqladb table
df.to_sql('sqladb', con, if_exists='replace', index=False)

#Q.1 Select 10 records from the adult sqladb
pd.read_sql('select * from sqladb LIMIT 10', con)

,Age,WorkClass,FnlWgt,Education,EducationNum,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-Per-Week,Native-Country,Income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [5]:
# Q2. Show me the average hours per week of all men who are working in private sector
pd.read_sql_query("SELECT round(avg([Hours-Per-Week]),3) as AvgHoursPerWeek FROM sqladb WHERE Sex='Male' AND WorkClass='Private'",con )

   AvgHoursPerWeek
0           42.221

In [6]:
# Q3. Show me the frequency table for education, occupation and relationship, separately
q1 = """SELECT Education, COUNT(Education)AS Frequency

  FROM sqladb

  GROUP BY Education

  ORDER BY  COUNT(Education) DESC"""

q2 = """SELECT Occupation, COUNT(Occupation)AS Frequency

  FROM sqladb

  GROUP BY Occupation

  ORDER BY  COUNT(Occupation) DESC"""

q3 = """SELECT Relationship, COUNT(Relationship)AS Frequency

  FROM sqladb

  GROUP BY Relationship

  ORDER BY  COUNT(Relationship) DESC"""


print("FREQUENCY TABLE FOR EDUCATION:\n","-"*60)
print(pd.read_sql_query(q1,con))
print("\nFREQUENCY TABLE FOR OCCUPATION:\n","-"*60)
print(pd.read_sql_query(q2,con))
print("\nFREQUENCY TABLE FOR RELATIONSHIP:\n","-"*60)
print(pd.read_sql_query(q3,con))

FREQUENCY TABLE FOR EDUCATION:
 ------------------------------------------------------------
       Education  Frequency
0        HS-grad      10501
1   Some-college       7291
2      Bachelors       5354
3        Masters       1723
4      Assoc-voc       1382
5           11th       1175
6     Assoc-acdm       1067
7           10th        933
8        7th-8th        646
9    Prof-school        576
10           9th        514
11          12th        433
12     Doctorate        413
13       5th-6th        333
14       1st-4th        168
15     Preschool         51

FREQUENCY TABLE FOR OCCUPATION:
 ------------------------------------------------------------
           Occupation  Frequency
0      Prof-specialty       4140
1        Craft-repair       4099
2     Exec-managerial       4066
3        Adm-clerical       3769
4               Sales       3650
5       Other-service       3295
6   Machine-op-inspct       2002
7                   ?       1843
8    Transport-moving       1597
9   Handlers-cleaners       1370
10    Farming-fishing        994
11       Tech-support        928
12    Protective-serv        649
13    Priv-house-serv        149
14       Armed-Forces          9

FREQUENCY TABLE FOR RELATIONSHIP:
 ------------------------------------------------------------
     Relationship  Frequency
0         Husband      13193
1   Not-in-family       8304
2       Own-child       5068
3       Unmarried       3446
4            Wife       1568
5  Other-relative        981

In [7]:
# Q4. Are there any people who are married, working in private sector and having a masters degree
# Finding out the various categories of Marital-Status
q4 = """SELECT [Marital-Status], COUNT([Marital-Status])AS Frequency

  FROM sqladb

  GROUP BY [Marital-Status]

  ORDER BY  COUNT([Marital-Status]) DESC"""

pd.read_sql_query(q4,con)

          Marital-Status  Frequency
0     Married-civ-spouse      14976
1          Never-married      10682
2               Divorced       4443
3              Separated       1025
4                Widowed        993
5  Married-spouse-absent        418
6      Married-AF-spouse         23

In [16]:
# Q4. Are there any people who are married, working in private sector and having a masters degree

# Structuring the query as per the given conditions
q5 = """SELECT Education,[Marital-Status],WorkClass FROM sqladb 

        WHERE [Marital-Status] IN  ('Married-civ-spouse','Married-spouse-absent','Married-AF-spouse') 
        
        AND ([WorkClass] = 'Private' AND [Education] = 'Masters')"""

# Printing such records
print(pd.read_sql_query(q5,con))

# Query Execution
cur.execute(q5)

# Code block to find if the records fulfilling the given conditions exist
if cur.fetchone():
    print("Record with the given conditions found. Hence such a person exists")

else:
    print("Record with the given conditions not found.Hence such a person does not exist")

    Education         Marital-Status WorkClass
0     Masters     Married-civ-spouse   Private
1     Masters     Married-civ-spouse   Private
2     Masters     Married-civ-spouse   Private
3     Masters     Married-civ-spouse   Private
4     Masters     Married-civ-spouse   Private
5     Masters     Married-civ-spouse   Private
6     Masters     Married-civ-spouse   Private
7     Masters     Married-civ-spouse   Private
8     Masters     Married-civ-spouse   Private
9     Masters     Married-civ-spouse   Private
10    Masters     Married-civ-spouse   Private
11    Masters     Married-civ-spouse   Private
12    Masters     Married-civ-spouse   Private
13    Masters     Married-civ-spouse   Private
14    Masters     Married-civ-spouse   Private
15    Masters     Married-civ-spouse   Private
16    Masters     Married-civ-spouse   Private
17    Masters     Married-civ-spouse   Private
18    Masters     Married-civ-spouse   Private
19    Masters     Married-civ-spouse   Private
20    Masters     Married-civ-spouse   Private
21    Masters     Married-civ-spouse   Private
22    Masters     Married-civ-spouse   Private
23    Masters  Married-spouse-absent   Private
24    Masters     Married-civ-spouse   Private
25    Masters     Married-civ-spouse   Private
26    Masters     Married-civ-spouse   Private
27    Masters     Married-civ-spouse   Private
28    Masters     Married-civ-spouse   Private
29    Masters     Married-civ-spouse   Private
..        ...                    ...       ...
510   Masters     Married-civ-spouse   Private
511   Masters     Married-civ-spouse   Private
512   Masters     Married-civ-spouse   Private
513   Masters     Married-civ-spouse   Private
514   Masters     Married-civ-spouse   Private
515   Masters     Married-civ-spouse   Private
516   Masters     Married-civ-spouse   Private
517   Masters     Married-civ-spouse   Private
518   Masters     Married-civ-spouse   Private
519   Masters     Married-civ-spouse   Private
520   Masters     Married-civ-spouse   Private
521   Masters     Married-civ-spouse   Private
522   Masters     Married-civ-spouse   Private
523   Masters     Married-civ-spouse   Private
524   Masters     Married-civ-spouse   Private
525   Masters     Married-civ-spouse   Private
526   Masters     Married-civ-spouse   Private
527   Masters     Married-civ-spouse   Private
528   Masters     Married-civ-spouse   Private
529   Masters     Married-civ-spouse   Private
530   Masters     Married-civ-spouse   Private
531   Masters     Married-civ-spouse   Private
532   Masters     Married-civ-spouse   Private
533   Masters     Married-civ-spouse   Private
534   Masters     Married-civ-spouse   Private
535   Masters     Married-civ-spouse   Private
536   Masters     Married-civ-spouse   Private
537   Masters     Married-civ-spouse   Private
538   Masters     Married-civ-spouse   Private
539   Masters     Married-civ-spouse   Private

[540 rows x 3 columns]
Record with the given conditions found. Hence such a person exists

In [9]:
# Q5. What is the average, minimum and maximum age group for people working in different sectors
q6 = """SELECT AVG(Age) AS Average_Age, 
                MIN(Age) AS Min_Age, 
                MAX(Age) AS Max_Age,
                WorkClass AS WorkClass
               
          FROM sqladb

          GROUP BY [WorkClass] """

pd.read_sql_query(q6,con)

   Average_Age  Min_Age  Max_Age         WorkClass
0    40.960240       17       90                 ?
1    42.590625       17       90       Federal-gov
2    41.751075       17       90         Local-gov
3    20.571429       17       30      Never-worked
4    36.797585       17       90           Private
5    46.017025       17       84      Self-emp-inc
6    44.969697       17       90  Self-emp-not-inc
7    39.436392       17       81         State-gov
8    47.785714       19       72       Without-pay

In [10]:
# Q6. Calculate age distribution by country

q7 = """SELECT [Native-Country] as Country,
                AVG(Age) AS Average_Age, 
                MIN(Age) AS Min_Age, 
                MAX(Age) AS Max_Age,
                COUNT(Age) as Count,
                AVG(Age*Age) - AVG(Age)*AVG(Age) AS variance
                
                               
          FROM sqladb

          GROUP BY [Native-Country] """

pd.read_sql_query(q7,con)

,Country,Average_Age,Min_Age,Max_Age,Count,variance
0,?,38.725557,17,90,583,153.615933
1,Cambodia,37.789474,18,65,19,116.166205
2,Canada,42.545455,17,80,121,225.586777
3,China,42.533333,22,75,75,154.808889
4,Columbia,39.711864,18,75,59,181.628842
5,Cuba,45.768421,21,82,95,179.988476
6,Dominican-Republic,37.728571,18,78,70,169.083469
7,Ecuador,36.642857,21,90,28,208.158163
8,El-Salvador,34.132075,17,79,106,147.095764
9,England,41.155556,17,90,90,201.620247
10,France,38.965517,20,64,29,136.309156
11,Germany,39.255474,18,74,137,166.788747
12,Greece,46.206897,22,65,29,164.577883
13,Guatemala,32.421875,19,66,64,128.650146
14,Haiti,38.272727,17,63,44,146.334711
15,Holand-Netherlands,32.000000,32,32,1,0.000000
16,Honduras,33.846154,18,58,13,124.437870
17,Hong,33.650000,19,60,20,78.827500
18,Hungary,49.384615,24,81,13,290.236686
19,India,38.090000,17,61,100,124.081900
20,Iran,39.418605,22,63,43,101.034072
21,Ireland,36.458333,23,68,24,119.331597
22,Italy,46.424658,19,77,73,176.244324
23,Jamaica,35.592593,18,66,81,134.611797
24,Japan,38.241935,19,61,62,83.215661
25,Laos,34.722222,19,56,18,129.311728
26,Mexico,33.290824,17,81,643,118.430196
27,Nicaragua,33.617647,19,67,34,129.353806
28,Outlying-US(Guam-USVI-etc),38.714286,21,63,14,196.346939
29,Peru,35.258065,17,69,31,168.320499
30,Philippines,39.444444,17,90,198,166.913580
31,Poland,43.116667,17,85,60,235.769722
32,Portugal,40.297297,19,78,37,200.749452
33,Puerto-Rico,40.508772,17,90,114,168.127116
34,Scotland,40.416667,18,62,12,150.409722
35,South,38.750000,19,90,80,213.587500
36,Taiwan,33.823529,20,61,51,87.596309
37,Thailand,34.944444,19,55,18,111.608025
38,Trinadad&Tobago,41.315789,17,61,19,111.373961
39,United-States,38.655662,17,90,29169,188.304483
40,Vietnam,34.059701,19,73,67,179.309869
41,Yugoslavia,38.812500,20,66,16,151.152344

In [11]:
# Q7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

# Computing a new column Net-Capital-Gain
q8 = """SELECT *,([Capital-gain]-[Capital-loss]) as [Net-Capital-Gain] from sqladb"""
pd.read_sql_query(q8,con)

,Age,WorkClass,FnlWgt,Education,EducationNum,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-Per-Week,Native-Country,Income,Net-Capital-Gain
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,0
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,0
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,0
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,-2042
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,0
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,0
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,0
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,0
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,0
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,0
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,15020
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,0
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,0
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,0
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,0
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,0
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,0
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,0
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,1086
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,0
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,0
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,0
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,0
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,0
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,0
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,15024

In [12]:
# Adding a new column to the database
cur.execute("alter table sqladb add column [Net-Capital-Gain] 'int'")
cur.execute(" UPDATE sqladb  SET [Net-Capital-Gain]=[Capital-Gain]-[Capital-Loss]")

In [13]:
pd.read_sql('select * from sqladb LIMIT 10', con)

,Age,WorkClass,FnlWgt,Education,EducationNum,Marital-Status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-Per-Week,Native-Country,Income,Net-Capital-Gain
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0